<!DOCTYPE html>
<html lang="de-de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/bundle.css">
        <link rel="shortcut icon" href="" />
        <meta property="og:image" content="">
        <link rel="icon" type="image/png" href="/img/layout/icon.png" sizes="32x32" />
        <link rel="shortcut icon" href="/public/layout/favicon.ico" />
    </head>
    <body>
        <main class="container">
        {{{content}}}
        </main>
        <input type="hidden" id="xssToken" value="{{xssToken}}" />
        <script defer="defer" src="js/bundle.js"></script>
    </body>
</html>