$sfw2-alternative-fore-color: white;
//$sfw2-alternative-primary-color: #D94598FF;
//$sfw2-alternative-primary-color: #A81367FF;
//$sfw2-alternative-primary-color: #27678c;
$sfw2-alternative-primary-color: rgb(0, 141, 12); //, 0.43);

$sfw2-backround-image: '~/public/img/layout/header-background.jpg';
$sfw2-logo-class: '.bi-train-front';
$sfw2-header-ribbon-height:  38vh;